<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css" />
    <script src="/assets/js/jquery.js" type="text/javascript"></script>
    <script src="/assets/js/app.js" type="text/javascript"></script>
  </head>
  <body>
    <a href="/tips/new" class="add_new_tip_link">Add new tip</a>
    Hello world!
  </body>
</html>
